{extends layout.latte}

{block title}Upravit{/block}

{block body}
    <div class="container">
        <h1>BODY CONTENT</h1>

        <form action="{link editPerson}" method="post">
            <label>Jméno</label><br>
            <input name="fn"  type="text" value="{$form['fn']}" class="form-control"><br>
            <label>Příjmení</label><br>
            <input name="ln" class="form-control" type="text" value="{$form['ln']}" ><br>
            <label>Přezdívka</label><br>
            <input name="nn" class="form-control" type="text" value="{$form['nn']}"><br>
            <label>Pohlaví</label><br>
            <select name="g" class="form-control">
                <option value="">Nezname</option>
                <option value="male">Muž</option>
                <option value="female">Žena</option>
            </select><br>
            <label>Výška</label>
            <input name="h" class="form-control" type="number" value="{$form['h']}"><br>
            <label>Den narození</label>
            <input name="b" class="form-control" type="date"><br>
            <button type="submit" class="btn btn-danger" style="background-color:#e83e8c ">
                <span class="fa fa-edit"></span>
                Upravit
            </button>
        </form>
    </div>
{/block}