<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{$basePath}/css/custom.css">
    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: darkgrey">
    <a class="navbar-brand" href="{link osoby}">apv</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="{link osoby}">Vyhledat osobu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{link formular}">Pridat osobu</a>
            </li>
            {if !empty($_SESSION['user'])}
            <li class="nav-item">
                <a class="nav-link" href="{link logout}">
                    Odhlásit {$_SESSION['user']['login']}
                </a>
            </li>{/if}
        </ul>
    </div>
</nav>
<if>

{if !empty($error)}
<div class="container">
    <div class="alert alert-danger">
        {$error}
    </div>
</div>
{/if}
{include body}
</body>
</html>