{extends 'layout.latte'}
{block title}Prihlaseni{/block}
{block body}
<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4 mt-4">
            <form method="post" action="{link login}">
        <label>Login</label>
        <input type="text" name="login" class="form-control">
        <br>
        <label>Heslo</label>
        <input type="password" name="pass" class="form-control">
        <br>
        <button class="btn btn-danger" style="background-color:#e83e8c ">
            <span class="fa fa-user"></span>
            Přihlásit
        </button>
    </form>
</div>
    </div>
</div>
{/block}
