{extends layout.latte}

{block title}Persons{/block}

{block body}

<div class="container">

<form method="get" action="{link osoby}">
    <input type="text" name="q" class="form-control">
    <button type="submit" class="btn btn-secondary">
        Hledat
    </button>
</form>
<h1> {include title}</h1>
   <table class="table table-striped">
   <tr><th>Jméno</th>
       <th>Přijmení</th>
       <th>Přezdívka</th>
       <th>Adresa</th>
       <th>Počet schůzek</th>
       <th>Počet kontaktů</th>
       <th>Smazat</th>
       <th>Upravit</th>
   </tr>
   {foreach $osoby as $o}
    <tr>
        <td>{$o['first_name']}</td>
        <td>{$o['last_name']}</td>
        <td>{$o['nickname']}</td>
        <td>{$o['city']} {$o['street_name']} {$o['street_number']} {$o['city']} {$o['country']} </td>
        <td>{$o['pocet_schuzek']}</td>
        <td>{$o['pocet_kontaktu']}</td>
        <td>
            <form method="post"
                  onsubmit="return confirm('Opravdu smazat?')"
                  action="{link deletePerson}?id={$o['id_person']}">
                <button type="submit" class="btn btn-danger " style="background-color:#e83e8c ">
                    <span class="fa fa-trash" ></span>
                </button>
            </form></td>
        <td><a href="{link editPerson}?id={$o['id_person']}"class="btn btn-danger " style="background-color:#e83e8c ">

                <span class="fa fa-edit" ></span>

            </a></td>
    </tr>
   {/foreach}
   </table>
{/block}